{% extends 'base.html' %}
{% load static %}


{% block title %}
  shiftApp

  {% block main_title %}{% endblock %}
{% endblock title %}


{% block extra_css %}
  <link rel="stylesheet" href="{% static 'shiftApp/css/base.css' %}">

  {% block main_css %}{% endblock %}
{% endblock extra_css %}


{% block extra_js %}
  <script src="{% static 'shiftapp/js/shiftApp.js' %}"></script>

  {% block main_js %}{% endblock %}
{% endblock extra_js %}


{% block content %}
  <div class="shiftapp">
    <header>
      <nav class="navbar navbar-expand-md fixed-top">
        <input type="checkbox" id="sidebar-toggler">
        <label for="sidebar-toggler" id="sidebar-btn">
          <i class="fas fa-bars"></i>
        </label>
        <nav class="sidebar">
          <ul class="sidebar-menu">
            <li class="sidebar-item"><button id="homeLink" class="sidebar-btn">Home</button></li>
            <li class="sidebar-item"><button id="shiftLink" class="sidebar-btn">Shift</button></li>
            <li class="sidebar-item"><button id="workerLink" class="sidebar-btn">Worker</button></li>
            <li class="sidebar-item"><button id="workPlanLink" class="sidebar-btn">WorkPlan</button></li>
            <li class="sidebar-item"><button id="workStyleLink" class="sidebar-btn">WorkStyle</button></li>
            <li class="sidebar-item"><button id="settingLink" class="sidebar-btn">Setting</button></li>
            <li class="sidebar-item"><button id="appsLink" class="sidebar-btn">Apps</button></li>
          </ul>
        </nav>
        <a class="navbar-brand mr-auto" href="{% url 'shiftapp:home' %}">shiftApp</a>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="btn btn-secondary" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main id="main">
      {% block main_content %}{% endblock %}
    </main>
  </div>
{% endblock content %}
