<div class="dialog shiftListDialog" id="shiftListDialog" style="display: none;">
  <div class="container">
    <button type="button" class="close" id="shiftListDialogCloseBtn">&times;</button>
    <h3>Shift List <button class="btn btn-primary" id="createShiftBtn" style="position: relative; top: -3px;">+</button></h3>
    <table class="table table-striped table-bordered" style="width: 100%;" id="shiftListTable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
    </table>
  </div>
</div>